$black:#000000;
$blue:#266387;
$light-gray:rgba(0, 0, 0, 0.05);
$white:#fff;
$gray:#303030;
$color-role:#707070;
$color-placeholder:#919191;
$color-hoversubmit:#686868;
$color-bg-img:#C4C4C4;
$color-jobListSpan:#E9ECF1;
$color-tabsBorder: #266387;
